{% extend 'pages/base.jinja' %}

{% block title %}
flask demo - About

{% endblock%}

{% block content %}

<h2> Flask</h2>

<p> Flask is a web app engine in Python</p>

<h2> Jinja <h2>

<p> Jinja is </p>

{% endblock %}