{ extend %'pages/base.jinja' %}

{% block title %}
flask demo - About

{% endblock%}

{% block content %}

<h2> Flask demo</h2>

<p>A lovely random number</p>

<article id="random">
{{ number }}
</article>

{% endblock %}